.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 18px;
}
@media screen and (max-width: 725px) {
  .footer__links {
    column-gap: 14px;
  }
}
@media screen and (max-width: 625px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}